
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Error 500</title>
</head>
<body>
    <h1>500</h1><h2>An error has occurred</h2>
    <p>Are you trying to break my site?</p>
</body>
</html>