
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h1>An error has occured</h1>
    <p>Please stop breaking my site!</p>
</body>
</html>
