@model CrivServer.CrivUk.Models.CreationViewModel
@{
    ViewData["Title"] = ViewBag.Title;
    ViewData["MetaDescription"] = ViewBag.MetaDescription;
    ViewData["Canonical"] = ViewBag.Canonical;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.PageContent.content_h1</h1>
<div></div>